<td colspan="2">
    ${_assessment.convertDateTime(_assessment.getDateTime())}
</td>
<td>
    ${_assessment.weight}
</td>
<td>
    ${_assessment.chest}
</td>
<td>
    ${_assessment.thigh}
</td>
<td>
    ${_assessment.upperArm}
</td>
<td>
    ${_assessment.waist}
</td>
<td>
    ${_assessment.hips}
</td>
<td>
    #{if _assessment.trendIsPositive == true}
        <h1>
            <i class="green angle double up icon"></i>
        </h1>
    #{/if}
    #{else}
        <h1>
            <i class="red angle double down icon"></i>
        </h1>
    #{/else}
</td>
<td colspan="2">
    ${_assessment.comment}
</td>