#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<section class="ui segment">
  #{memberstatbar member:member/}
  <form class="ui segment form" action="/dashboard/addassessment" method="POST">
      <div class="two fields">
          <div class="field">
              <label>Weight</label>
              <input placeholder="00.00kg" type="number" name="weight">
          </div>
          <div class="field">
              <label>Chest</label>
              <input placeholder="00.00cm" type="number" name="chest">
          </div>
          <div class="field">
              <label>Thigh</label>
              <input placeholder="00.00cm" type="number" name="thigh">
          </div>
          <div class="field">
              <label>Bicep</label>
              <input placeholder="00.00cm" type="number" name="upperArm">
          </div>
          <div class="field">
              <label>Waist</label>
              <input placeholder="00.00cm" type="number" name="waist">
          </div>
          <div class="field">
              <label>Hips</label>
              <input placeholder="00.00cm" type="number" name="hips">
          </div>
      </div>
      <button class="ui blue submit button">Add Assesment</button>
  </form>
  <table class="ui fixed table">
    <thead>
      <tr>
        #{assessmentheader /}
        <th></th>
      </tr>
    </thead>
    <tbody>
      #{list items:assessments, as:'assessment'}
        <tr>
          #{assessmentdata assessment:assessment /}
          <td class="center aligned">
            <a href="/dashboard/${member.id}/deleteassessment/${assessment.id}">
              <h1>
                <i class="trash alternate icon"></i>
              </h1>
            </a>
          </td>
        </tr>
      #{/list}
    </tbody>
  </table>
</section>