#{extends 'main.html' /}
#{set title:'Member Details' /}

#{trainermenu id:"trainermemdetail"/}

<section class="ui segment">
    #{memberstatbar member:member/}
    #{list items:assessments, as:'assessment'}
        <table class="ui fixed table">
            <thead>
                <tr>
                    #{assessmentheader /}
                </tr>
            </thead>
            <tbody>
                <tr>
                    #{assessmentdata assessment:assessment /}
                </tr>
            </tbody>
        </table>

        <form class="ui segment form" action="/members/${member.id}/assessment/${assessment.id}/addcomment" method="POST">
            <div class="field">
                <label>Comment (one per assessment)</label>
                <input placeholder="comment" type="text" name="comment">
            </div>
            <button class="ui blue submit button">Add Comment</button>
        </form>
    #{/list}
</section>