#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{trainermenu id:"trainerdashboard"/}

<section class="ui segment">
    <header class="ui header">
        Members
    </header>
        #{list items:members, as:'member'}
            <section class="ui segment">
                <section class="ui grid">
                    <div class="one wide center aligned column">
                        <h1>
                            <i class="user icon"></i>
                        </h1>
                    </div>
                    <div class="three wide column">
                        <a href ="/members/${member.id}">
                            <h3>${member.firstName} ${member.lastName}</h3>
                        </a>
                        ${member.numAssessments()}
                    </div>
                    <div class="twelve wide right aligned column">
                        <h1>
                            <a href="/trainerdashboard/${member.id}/deletemember">
                                <i class="red trash alternate icon"></i>
                            </a>
                        </h1>
                    </div>
                </section>
            </section>
        #{/list}
</section>